<username>kaso</username>
<password>kaso</password>
<host-address>http://mediastore.kaso.co/</host-address>

//this defines the number of parent modules that the system will have
<parent-modules>5</parent-modules>

//this class defines the class that will be used to instantiate the hub modules of the system
//the system replaces the underscore ' _ ' with dot ' . '
<parent-module-class>home_manager_system_hardware_modules_RaspberryPiHubModule</parent-module-class>

//this defines the number of Unit Module each Parent Module will have
<unit-modules>6</unit-modules>

//this class defines the class that will be used to instantiate the unit modules of the system
//the system replaces the underscore ' _ ' with dot ' . '
<unit-module-class>home_manager_system_hardware_modules_RaspberryPiUnitModule</unit-module-class>

//This defines the mapping of module ID to system names in the house